.container{

margin: auto;
width: 1000px;
text-align: center;
}
body{
	text-align: center;
margin: 0;
}
h1 


margin: 0;
}

selector{property;value;}

img{max-width: 100%;
width: 500px;}

.table{font-size: 18px;
	width:100%;
	text-align: center;
	background-color: #dcddf3

}

th{padding: 10px:;
color: black
font-size 20px


}